* {
    margin: 0;
    padding: 0;
}

body {
   font-family: "Trebuchet MS", Helvetica, sans-serif;
   /* background: #5F5452;  */
}

.header {
    background: #b9b9b9;
    padding: 15px 20px 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;;
}

.container {
    border: 1px solid black;
    border-radius: 4px;
    margin: auto;
    margin-bottom: 10px;
    width: 50%;
    padding: 10px;
}

#menu_list {
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: space-between;
}

#menu_list li {
    margin-right: 15px;
}

#menu_list li a {
    text-decoration: solid;
    color: black;
}

#menu_list li a:hover{
    color: rgb(255, 255, 255);
}

#users_home {
    list-style: none;
    padding: 0;
}

#users_home li{
    background-color: #fcfbc2;
    padding: 5px;
    margin-bottom: 5px;
}

#users_home li:hover{
    background-color: #fcf826;
}

.box {
    text-align: center;
    margin: auto;
    line-height: 30px;
    margin-bottom: 10px;
}

.box input {
    width: 50%;
    height: 25px;
    font-size: 1em;
    padding-left: 3px;
}

#h2_header {
    text-align: center;
}

#login_button {
    display: block;
    padding: 12px 35px;
    background-color: #fcf826;
    border: none;
    border-radius: 4px;
    margin: auto;
    margin-top: 20px;
    font-size: larger;
}

#login_button:hover {
    background-color: #b9b9b9;
}

